@import "../../styles/variables.scss";

.dropdownContainer {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.dropdownLabel {
  font-weight: 500;
  color: $color-text-primary;
}

.dropdownSelect {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid $color-border;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    border-color: $color-accent;
  }
}
